{% extends 'base.html.twig' %}

{% block javascripts %}
    <!--suppress JSUnresolvedLibraryURL, HtmlFormInputWithoutLabel -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js" integrity="sha256-cHVO4dqZfamRhWD7s4iXyaXWVK10odD+qp4xidFzqTI=" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
    <div id="app">
        <div>
            <label>
                Знак Зодиака:
                <select v-model="selectedZodiacSign">
                    <option value="-">Не выбрано</option>
                    <option v-for="zodiacSign of zodiacSigns" :value="zodiacSign"><% zodiacSign %></option>
                </select>
            </label>

            <label>
                Бюст:
                <select v-model="selectedBreast">
                    <option value="-">Не выбрано</option>
                    <option v-for="breast of breasts" :value="breast"><% breast %></option>
                </select>
            </label>

            <label>
                Статус:
                <select v-model="selectedStatus">
                    <option value="-">Не выбрано</option>
                    <option :value="true">Активный</option>
                    <option :value="false">Не активный</option>
                </select>
            </label>

            <label>
                Тату:
                <select v-model="selectedTattoo">
                    <option value="-">Не выбрано</option>
                    <option :value="true">Есть</option>
                    <option :value="false">Нет</option>
                </select>
            </label>

            <label>
                Пирсинг:
                <select v-model="selectedPiercing">
                    <option value="-">Не выбрано</option>
                    <option value="all">Любой</option>
                    <option value="back">Спина</option>
                    <option value="ears">Уши</option>
                    <option value="lips">Губы</option>
                    <option value="neck">Шея</option>
                    <option value="nose">Нос</option>
                    <option value="brows">Брови</option>
                    <option value="groin">Пах</option>
                    <option value="navel">Пупок</option>
                    <option value="breast">Грудь</option>
                    <option value="tongue">Язык</option>
                    <option value="abdomen">Живот</option>
                </select>
            </label>

            <label>
                Возраст первой съемки:
                <select v-model="selectedFirstAge">
                    <option value="-">Не выбрано</option>
                    <option v-for="age of firstAges" :value="age"><% age %></option>
                </select>
            </label>

            <label>
                Год (От):
                <select v-model="startYear">
                    <option value="-">Не выбрано</option>
                    <option v-for="year of reverseYears" :value="year"><% year %></option>
                </select>
            </label>

            <label>
                Год (До):
                <select v-model="finishYear">
                    <option value="-">Не выбрано</option>
                    <option v-for="year of reverseYears" :value="year"><% year %></option>
                </select>
            </label>

            <button @click="build">Перестроить</button>
        </div>
        <div>Всего: <% total %></div>
    </div>

    <canvas id="myChart" style="max-height: 90vh;"></canvas>

    <script>
        const colorMap = {
            'Дева': '#8B0000',
            'Скорпион': '#CD5C5C',
            'Телец': '#FFFF00',
            'Рыба': '#32CD32',
            'Овен': '#006400',
            'Рак': '#FF69B4',
            'Весы': '#C71585',
            'Лев': '#FF4500',
            'Водолей': '#00008B',
            'Козерог': '#2F4F4F',
            'Стрелец': '#000000',
            'Близнецы': '#1E90FF',
        };

        const actresses = JSON.parse('{{ json|escape('js') }}');

        let years = {};
        let breasts = {};
        let firstAges = {};
        for (const actress of actresses) {
            const {dob, breast, yearStart} = actress;
            const [year] = dob.split('-');

            years[year] = true;
            breasts[breast] = true;

            const age = yearStart - year;
            if (age > 17) {
                firstAges[age] = true;
            }
        }
        years = Object.keys(years);
        breasts = Object.keys(breasts);
        firstAges = Object.keys(firstAges);

        new Vue({
            el: '#app',
            delimiters: ['<%','%>'],
            data: function () {
                return {
                    total: '-',
                    startYear: '-',
                    finishYear: '-',
                    selectedBreast: '-',
                    selectedTattoo: '-',
                    selectedStatus: '-',
                    selectedFirstAge: '-',
                    selectedPiercing: '-',
                    selectedZodiacSign: '-',

                    years: years,
                    breasts: breasts,
                    actresses: actresses,
                    firstAges: firstAges,

                    chart: undefined,
                    context: document.getElementById('myChart').getContext('2d'),
                    zodiacSigns: ['Дева', 'Скорпион', 'Телец', 'Рыба', 'Овен', 'Рак', 'Весы', 'Лев', 'Водолей', 'Козерог', 'Близнецы'],
                };
            },
            computed: {
                reverseYears() {
                    return this.years.reverse();
                },
            },
            methods: {
                build() {
                    const {
                        selectedPiercing, selectedZodiacSign,
                        startYear, finishYear, selectedBreast,
                        selectedTattoo, selectedFirstAge, selectedStatus,
                    } = this;

                    const result = {};
                    {
                        const template = {};
                        this.years.map((year) => {
                            if ('-' !== startYear) {
                                if (year < startYear) {
                                    return;
                                }
                            }

                            if ('-' !== finishYear) {
                                if (year > finishYear) {
                                    return;
                                }
                            }

                            template[year] = 0
                        });

                        this.actresses.map((item) => {
                            const {dob, tattoo, status, breast, yearStart, zodiacSign, actressPiercing} = item;
                            const [year] = dob.split('-');
                            const firstAge = (yearStart - year).toString();

                            if ('-' !== startYear) {
                                if (year < startYear) {
                                    return;
                                }
                            }

                            if ('-' !== finishYear) {
                                if (year > finishYear) {
                                    return;
                                }
                            }

                            if ('-' !== selectedStatus) {
                                if (status !== selectedStatus) {
                                    return;
                                }
                            }

                            if ('-' !== selectedBreast) {
                                if (breast !== selectedBreast) {
                                    return;
                                }
                            }

                            if ('-' !== selectedFirstAge) {
                                if (firstAge !== selectedFirstAge) {
                                    return;
                                }
                            }

                            if ('-' !== selectedTattoo) {
                                if (false === selectedTattoo) {
                                    if ('Отсутствует' !== tattoo) {
                                        return;
                                    }
                                } else {
                                    if ('Отсутствует' === tattoo) {
                                        return;
                                    }
                                }
                            }

                            if ('-' !== selectedPiercing) {
                                if ('all' === selectedPiercing) {
                                    if (true === Object.values(actressPiercing).find((value) => true === value)) {
                                        return;
                                    }
                                } else if (true !== actressPiercing[selectedPiercing]) {
                                    return;
                                }
                            }

                            if (undefined === result[zodiacSign]) {
                                result[zodiacSign] = {...template};
                            }

                            result[zodiacSign][year]++;
                        });
                    }

                    if (undefined !== this.chart) {
                        this.chart.destroy();
                    }

                    const datasets = [];
                    if ('-' === selectedZodiacSign) {
                        for (const [zodiacSign, data] of Object.entries(result)) {
                            datasets.push({
                                data: data,
                                fill: false,
                                tension: 0.1,
                                label: zodiacSign,
                                borderColor: colorMap[zodiacSign],
                            });
                        }
                        this.total = '-';
                    } else {
                        const data = result[selectedZodiacSign];
                        datasets.push({
                            fill: false,
                            tension: 0.1,
                            data: data,
                            label: selectedZodiacSign,
                            borderColor: colorMap[selectedZodiacSign],
                        });

                        this.total = Object.values(data).reduce((pv, number) => number + pv, 0);
                    }

                    this.chart = new Chart(this.context, {type: 'line', data: {datasets}});
                },
            },
        });
    </script>
{% endblock %}