{% extends 'base.html.twig' %}

{% block javascripts %}
    <!--suppress JSUnresolvedLibraryURL, HtmlFormInputWithoutLabel -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js" integrity="sha256-cHVO4dqZfamRhWD7s4iXyaXWVK10odD+qp4xidFzqTI=" crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
    <div id="app">

        <label>
            Тип графика:
            <select v-model="typeChart">
                <option :value="1">Год - Количество</option>
            </select>
        </label>

        <label>
            Знак Зодиака:
            <select v-model="selectedZodiacSign">
                <option value="-">Не выбрано</option>
                <option v-for="zodiacSign of zodiacSigns" :value="zodiacSign"><% zodiacSign %></option>
            </select>
        </label>

        <label>
            Статус:
            <select v-model="selectedStatus">
                <option value="-">Не выбрано</option>
                <option :value="true">Активный</option>
                <option :value="false">Не активный</option>
            </select>
        </label>

        <button @click="show">Перестроить</button>
    </div>

    <canvas id="myChart" style="max-height: 90vh;"></canvas>

    <script>
        const actresses = JSON.parse('{{ json|escape('js') }}');

        let years = {};
        let zodiacSigns = {};
        for (const actress of actresses) {
            const [year] = actress.dob.split('-');
            years[year] = true;
            zodiacSigns[actress.zodiacSign] = true;
        }
        years = Object.keys(years);
        zodiacSigns = Object.keys(zodiacSigns);

        new Vue({
            el: '#app',
            delimiters: ['<%','%>'],
            data: function () {
                return {
                    typeChart: 1,
                    years: years,
                    chart: undefined,
                    selectedStatus: '-',
                    actresses: actresses,
                    selectedZodiacSign: '-',
                    zodiacSigns: zodiacSigns,
                    context: document.getElementById('myChart').getContext('2d'),
                };
            },
            methods: {
                buildYearZodiac() {
                    const {selectedZodiacSign, selectedStatus} = this;

                    const result = {};
                    this.actresses.map((item) => {
                        const {dob, status, zodiacSign} = item;

                        if ('-' !== selectedStatus) {
                            if (status !== selectedStatus) {
                                return;
                            }
                        }

                        if (undefined === result[zodiacSign]) {
                            result[zodiacSign] = {};
                        }

                        const [year] = dob.split('-');
                        if (undefined === result[zodiacSign][year]) {
                            result[zodiacSign][year] = 0;
                        }

                        result[zodiacSign][year]++;
                    });

                    if (undefined !== this.chart) {
                        this.chart.destroy();
                    }

                    const datasets = [];
                    if ('-' === selectedZodiacSign) {
                        for (const [zodiacSign, data] of Object.entries(result)) {
                            datasets.push({
                                data: data,
                                fill: false,
                                tension: 0.1,
                                label: zodiacSign,
                                borderColor: '#' + Math.floor(Math.random() * 16777215).toString(16),
                            });
                        }
                    } else {
                        datasets.push({
                            fill: false,
                            tension: 0.1,
                            label: selectedZodiacSign,
                            data: result[selectedZodiacSign],
                            borderColor: '#' + Math.floor(Math.random() * 16777215).toString(16),
                        });
                    }

                    this.chart = new Chart(this.context, {type: 'line', data: {datasets}});
                },
                show() {
                    this.buildYearZodiac();
                }
            },
        });
    </script>
{% endblock %}